<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mq.demo.dao.TenantMapper">

    <select id="sleAllTenant" resultType="com.mq.demo.sys.entity.Tenant">
   select * from tenant ${ew.customSqlSegment}
  </select>
</mapper>
